body {
    background-color: black;
    color: white;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
img {
    border: 5px solid white;
    height: 250px;
    width: 500px;
}
h1 {
    text-transform: uppercase;
}